################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/first github/.vs/first github/v16
